<template>
    <div class="container">
        <div class="text-center" style="margin: 20px 0px 20px 0px;">
           
            <h1>The Film Shop</h1>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <router-link to="/" class="nav-item nav-link">Home</router-link>
                    <router-link to="#" class="nav-item nav-link" v-if="isAdmin=='0'">Past Purchase</router-link>
                    <router-link to="/register" class="nav-item nav-link" v-if="!token">Sign Up</router-link>
                    <router-link to="/login" class="nav-item nav-link" v-if="!token">Sign In</router-link>
                    <router-link to="#" class="nav-item nav-link" v-if="isAdmin=='1'">Monthly Sales</router-link>
                    <router-link to="#" class="nav-item nav-link" v-if="isAdmin=='1'">Products ending with s</router-link>
                    <router-link to="#" class="nav-item nav-link" v-if="isAdmin=='1'">Query By Genres</router-link>
                    <!-- <router-link to="/adminlogin" class="nav-item nav-link" v-if="token">log Out</router-link> -->
                    <span v-if="token">Welcome, {{name}}</span>
                    <button @click.prevent="logout" class="btn btn-link" v-if="token">logout</button>
                </div>
            </div>
        </nav>
        <br/>
        <router-view></router-view>
    </div>
</template>

<script>
    import {mapState,mapActions} from 'vuex'
    export default {
        data(){
            return {

            }
        },
        computed:{
            ...mapState(['name','token','isAdmin'])
        },
         mounted () {
            this.getFilms()
        },
         methods:{
             ...mapActions(['getFilms']),
            logout(){
                this.$store.dispatch('logout')
                .then(() => {
                this.$router.push({name:'home'})
                })
                
            }
        },
    }
</script>

<style scoped>
    .navbar-nav{
        float: right;
    }

</style>