<template>
    <div class="container">
    <div class="d-flex justify-content-center h-h00">
		<div class="card" id="main">
			<div class="card-header">
				<h3>Admin Sign In</h3>
				<span v-if="error.errMsg" class="err">{{error.errMsg}}</span>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="icon fa-envelope input-group-text"></span>
						</div>
						<input type="email" class="form-control" placeholder="email" v-model="credentials.email"><br>
						<span v-if="error.errEmail" class="err">{{error.errEmail}}</span>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="icon input-group-text fa-lock"></span>
						</div>
						<input type="password" class="form-control" placeholder="password" v-model="credentials.password"><br>
						<span v-if="error.errPassword" class="err">{{error.errPassword}}</span>
					</div>
					<div class="form-group">
						<button class="btn btn-primary float-right" @click.prevent="login">{{isSigningIn ? 'please Wait ...' : 'Sign In'}}</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
</template>


<script>
// import {mapActions} from 'vuex'
import baseurl from './baseURL'
export default {
	data(){
		return{
			credentials:{
				email:'',
				password:''
			},
			error:{
				errEmail:'',
				errPassword:'',
				errMsg:''
			},
			isSigningIn:false,
			
		}
	},
	methods:{
		// ...mapActions(['login']),
		login(){
			this.isSigningIn=true
			this.axios.post(baseurl+'/login',this.credentials)
                    .then((resp) => {
						if (resp.data.msg=='success'){
							if (resp.data.isAdmin=='1'){
								const token = resp.data.token
								const name = resp.data.name
								const isAdmin = resp.data.isAdmin
								localStorage.setItem('token', token)
								localStorage.setItem('name',name)
								localStorage.setItem('isAdmin',isAdmin)
								axios.defaults.headers.common['Authorization'] = 'Bearer '+ token 
								this.$router.push({name:'admindashboard'})
							}
						}
						else{
							this.error.errMsg='You are not an admin'
							setTimeout(()=>{
								this.error.errMsg=''
							},10000)
							this.isSigningIn=false
						}
					})
					.catch(() => {
						//Invalid credentials
						this.error.errMsg='Unauthorized user'
						setTimeout(()=>{
							this.error.errMsg=''
						},10000)
						
						this.isSigningIn=false
					})
		}
	}
}
</script>

<style scoped>

.err{
    color: red;
}
</style>