<template>
    <div>
        <div class="row justify-content-center">
            <div class="card card-default col-md-8">
                <div class="card-header">
                    <h3>Add Films to store</h3>
                </div>
                <div class="card-body">
                   
                    <form id="frm">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="title">Title</label>
                                <span class="ast">*</span>
                                <input type="text" class="form-control" id="title" v-model="film.title" placeholder="Title ...">
                                <span v-if="error.errTitle" class="err">{{error.errTitle}}</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="genre">Genre</label>
                                 <span class="ast">*</span>
                                <input type="text" class="form-control" id="genre" v-model="film.genre" placeholder="Genre ...">
                                <span v-if="error.errGenre" class="err">{{error.errGenre}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="unitprice">Unit Price</label>
                                <input type="number" class="form-control" id="unitprice" v-model.number="film.unitPrice" placeholder="Unit price ...">
                                <span v-if="error.errUnitPrice" class="err">{{error.errUnitPrice}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="reorderlevel">Re Order Level</label>
                                <input type="number" class="form-control" id="reorderlevel" v-model.number="film.reOrderLevel" placeholder="Re order level ...">
                                <span v-if="error.errReOrderLevel" class="err">{{error.errReOrderLevel}}</span>
                            </div>
                            <!-- <span v-if="error.errEmpty" class="err">{{error.errEmpty}}</span> -->
                            <div class="col-md-3">
                                <el-button type="success" @click="add" icon="el-icon-check" circle class="float-right">{{isSaving ? 'please Wait ...' : 'Save'}}</el-button>
                            </div>
                        </div>
                    </form>
                    

                    <hr>
                    <div class="tbl table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Genre
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Reorder Level
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="film in films" :key="film.id">
                                    <td>
                                        {{film.title}}
                                    </td>
                                     <td>
                                        {{film.genre}}
                                    </td>
                                    <td>
                                        {{film.unitPrice}}
                                    </td>
                                    <td>
                                        {{film.reOrderLevel}}
                                    </td>
                                   
                                     <td>
                                        <el-button type="primary" icon="el-icon-edit" circle @click.prevent="edit(film)"></el-button>
                                        <el-button type="danger" icon="el-icon-delete" circle  @click.prevent="destroy(film)"></el-button>
                                    </td>
                                    <el-dialog v-if="editID" :visible.sync="editDialogVisible">
                                        <h3>Edit Film</h3>
                                        <form>
                                            <div class="row form-group">
                                                <label for="currentTitle">Title</label>
                                                <input type="text" id="currentFirstCA" class="form-control frminput" placeholder="Title ..." v-model='currentFilm.title'>
                                                <span v-if="error.errCurrentTitle" class="err">{{error.errCurrentTitle}}</span>
                                            </div>
                                            <div class="row form-group">
                                                <label for="currentGenre">Genre</label>
                                                <input type="text" id="currentGenre" class="form-control frminput" placeholder="Genre" v-model='currentFilm.genre'>
                                                <span v-if="error.errCurrentGenre" class="err">{{error.errCurrentGenre}}</span>
                                            </div>
                                             <div class="row form-group">
                                                <label for="currentUnitPrice">Unit Price</label>
                                                <input type="number" id="currentUnitPrice" class="form-control frminput" placeholder="Unit price ..." v-model.number='currentFilm.UnitPrice'>
                                                <span v-if="error.errCurrentUnitPrice" class="err">{{error.errCurrentUnitPrice}}</span>
                                            </div>
                                            <div>
                                                <el-button type="primary" icon="el-icon-close" circle class="float-right dia" @click.prevent='cancel'></el-button>
                                                <el-button type="primary" icon="el-icon-check" circle class="float-right dia" @click.prevent="update(currentFilm)"></el-button>
                                            </div>
                                        </form>
                                    </el-dialog>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import baseurl from './baseURL'
import Swal from 'sweetalert2';
export default {
    data(){
        return {
            film:{
                title:'',
                genre:'',
                unitPrice:'',
                reOrderLevel:'',
            },
            error:{
                errTitle:'',
                // errEmpty:''
                errGenre:'',
                errUnitPrice:'',
                errReorderLevel:'',
               
            },
            spinner:false,
            isSaving:false,
            editID:'',
            initialFilm:{},
            currentFilm:{},
            editDialogVisible:false
        }
    },
    computed:{
        ...mapState(['films'])
    },
    
    methods:{
        ...mapActions(['getFilms','addFilm','deleteFilm']),
        add(){
            if(this.film.title==''||this.film.title.trim()==''){
                this.error.errTitle='Enter a Roll title'
                setTimeout(()=>{
                    this.error.errTitle=''
                },4000)
                return false 
            }
            if(this.film.genre==''||this.film.genre.trim()==''){
                this.error.errGenre='Enter a Genre'
                setTimeout(()=>{
                    this.error.errGenre=''
                },4000)
                return false 
            }
            if(this.film.unitPrice==''){
               this.film.unitPrice=0
            }
            if(this.film.reOrderLevel==''){
               this.film.reOrderLevel=0
            }
            this.isSaving=true
            this.addFilm(this.film)
            .then((res)=>{
                this.film.title=''
                this.film.genre=''
                this.film.unitPrice=''
                this.film.reOrderLevel=''
                this.isSaving=false
            })
        },
        edit(film){
            this.editID= film.id
            this.initialFilm=film
            this.currentFilm.id =film.id
            this.currentFilm.title= film.title
            this.currentFilm.genre = film.genre
            this.currentFilm.UnitPrice = film.unitPrice
            this.currentFilm.reOrderLevel = film.reOrderLevel
             this.editDialogVisible=true
            // console.log(this.currentFilm)
        },
        update(score){
            if(this.currentScore.first_ca==''||this.currentScore.first_ca.trim=='')
            {
                this.currentScore.first_ca=0
            }
            else if(this.currentScore.first_ca<0||this.currentScore.first_ca>20){
                this.error.errCurrentFirstCA='First C.A. can only be between 0 and 20'
                setTimeout(()=>{
                    this.error.errCurrentFirstCA=''
                },4000)
                return false
            }

            if(this.currentScore.second_ca==''||this.currentScore.second_ca.trim=='')
            {
                this.currentScore.second_ca=0
            }
            else if(this.currentScore.second_ca<0||this.currentScore.second_ca>20){
                this.error.errCurrentSecondCA='Second C.A. can only be between 0 and 20'
                setTimeout(()=>{
                    this.error.errCurrentSecondCA=''
                },4000)
                return false
            }

            if(this.currentScore.exam==''||this.currentScore.exam=='')
            {
                this.currentScore.exam=0
            }
            else if(this.currentScore.exam<0||this.currentScore.exam>60){
                this.error.errCurrentExam='Second C.A. can only be between 0 and 60'
                setTimeout(()=>{
                    this.error.errCurrentExam=''
                },4000)
                return false
            }
            this.axios.put(baseurl+'/score/'+score.id,this.currentScore)
            .then(res=>{
                this.scores.splice(this.scores.indexOf(this.initialScore), 1,res.data.newscore)
                this.subjectScores.splice(this.subjectScores.indexOf(this.initialScore),1,res.data.newscore)
                this.editDialogVisible=false
            })
        },
        destroy(film){
            Swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this information!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Yes, I am sure!',
                cancelButtonText: "No, cancel it!",
                })
                .then((result) => {
                if (result.value) {
                    this.deleteFilm(film)
                }
                // else{
                //     console.log('=======')
                // }
               
            });
        },
        cancel(){
            this.editDialogVisible=false
        },
       
    }
}
</script>

<style scoped>
    .frminput{
            border-radius: 30px;
    }
    .err,.ast{
        color: red;
    }
    #sname{
        color:green;
    }
    
</style>