<template>
    <div class="md-col-8">
        <h3 class="text-center">All Films</h3><br/>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Unit Price</th>
                <th>Re-Order Level</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="film in films" :key="film.id">
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.genre }}</td>
                <td>{{ film.unitPrice }}</td>
                <td>{{ film.reOrderlevel }}</td>
                <td>
                    <!-- <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: book.id }}" class="btn btn-primary">Edit
                        </router-link>
                        <button class="btn btn-danger" @click="deleteBook(book.id)">Delete</button>
                    </div> -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                films: []
            }
        },
        created() {
            this.axios
                .get('http://localhost:8000/api/film')
                .then(response => {
                    this.films = response.data;
                });
        },
        methods: {
            deleteFilm(id) {
                this.axios
                    .delete(`http://localhost:8000/api/film/delete/${id}`)
                    .then(response => {
                        let i = this.films.map(item => item.id).indexOf(id); // find index of your object
                        this.films.splice(i, 1)
                    });
            }
        }
    }
</script>