<template>
    <div>
        <div class="row justify-content-center">
            <div class="card card-default col-md-8">
                <div class="card-header">
                    <h3>Available Films</h3>
                </div>
                <div class="card-body">
                    <div class="tbl table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Genre
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Reorder Level
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="film in films" :key="film.id">
                                    <td>
                                        {{film.title}}
                                    </td>
                                     <td>
                                        {{film.genre}}
                                    </td>
                                    <td>
                                        {{film.unitPrice}}
                                    </td>
                                    <td>
                                        {{film.reOrderLevel}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapState, mapActions} from 'vuex'
export default {
    data(){
        return{

        }
    },
     computed:{
        ...mapState(['films'])
    },
    methods:{
         ...mapActions(['getFilms']),
    },
    // mounted () {
    //     this.getFilms()
    // },
}
</script>