<template>
    <div>
        <div class="row justify-content-center">
            <div class="card card-default col-md-8">
                <div class="card-header">
                    <h3>Available Films</h3>
                </div>
                <div class="card-body">
                    <div class="tbl table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Genre
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Reorder Level
                                    </th>
                                    <th>
                                        Buy
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="film in films" :key="film.id">
                                    <td>
                                        {{film.title}}
                                    </td>
                                     <td>
                                        {{film.genre}}
                                    </td>
                                    <td>
                                        {{film.unitPrice}}
                                    </td>
                                    <td>
                                        {{film.reOrderLevel}}
                                    </td>
                                    <td>
                                        <el-button type="primary" icon="el-icon-shopping-cart-2" circle @click.prevent="buy(film)"></el-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapState, mapActions} from 'vuex'
import baseurl from './baseURL'
export default {
    data(){
        return{
            sale:{}
        }
    },
     computed:{
        ...mapState(['films'])
    },
    mounted () {
        const token = localStorage.getItem('token')
        const name = localStorage.getItem('name')
    },
    methods:{
        buy(film){
            this.sale.film_id = film.id
            this.sale.filmTitle = film.title
            this.sale.unitPrice = film.unitPrice
            this.sale.quantity = 1
            // this.sale.user_id=5
            this.axios.post(baseurl+'/sale',this.sale)
            .then((res)=>{
                //  this.subjects.splice(0,0,res.data.subject)
                console.log(res.data)
            })
        }
    }
}
</script>